@font-face {
  font-family: 'DungGeunMo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


*{
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  font-family: 'DungGeunMo';
  text-decoration-line: none;
}
img {
  width: 100%;
  margin: auto;
  display: block;
}



#welcome{
  display : flex;
  justify-content : center;
}
h1{
  font-size: 100px;
}

/* 다크모드 버튼 */
#mode {
  box-sizing: border-box;
  border-radius: 0.6em;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
#mode {
  border-color: skyblue;
  color: black;
  box-shadow: 0 0 40px 40px #fbc2eb inset, 0 0 0 0 pink;
  transition: all 150ms ease-in-out;
}
#mode:hover {
  box-shadow: 0 0 10px 0 skyblue inset, 0 0 10px 4px skyblue;
}

/* cube */

/* cube내 글자클릭시 */
.clk:hover{
  -webkit-text-stroke: 1px white;
  cursor:pointer;
}

.cube{
  position: absolute;
  left:20%;
  top: 40%;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  /* 돌아가는 시간 */
  animation: animate 20s linear infinite; 
}

@keyframes animate
{
  0%
  {
    transform: rotateX(-30deg) rotateY(0deg);
  }
  100%
  {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}
.cube div{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

/* 사각형 옆면 */
.cube div span{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(47,0,122,48),rgba(255,0,255,100));
  transform : rotateY(calc(90deg*var(--i)))translateZ(150px);
  display: flex; 
  /* 글씨 가로정렬 */
  justify-content: center;
  /* 가로 축을 기준으로 좌우에 대한 정렬을 관장 합니다. */
  align-items: center;
  /* 세로 축을 기준으로 정렬을 하게 됩니다 */
  transform-style: preserve-3d;
}
 
/* 사각형 옆면 글씨 */
.cube div span a{
position: absolute;
text-align: center;
font-size: 70px;
font-weight:bolder;
color: rgb(32, 11, 52);
transform: translateZ(50px);
}

.cube div span a:nth-child(1)
{
  transform: translateZ(0) translateY(20px);
  color: rgba(0, 0, 0, 0.1);
  filter: blur(1px);
}


/* 사각형 윗면 */
.top{
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background: rgba(47,15,122,100);
  transform: rotateX(90deg) translateZ(150px);
}

/* 사각형 아래 그림자 */
.top::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background: rgba(255,50,255,100);
  transform: translateZ(-400px);
  filter: blur(50px);
  box-shadow: 0 0 120px rgba(255,0,255,0.2),
  0 0 120px rgba(255,0,255,0.4),
  0 0 120px rgba(255,0,255,0.6),
  0 0 120px rgba(255,0,255,0.8);
}

/* ============================================== */

.cube2{
  position: absolute;
  right:20%;
  top: 40%;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  /* 돌아가는 시간 */
  animation: animate 20s linear infinite; 
}

@keyframes animate
{
  0%
  {
    transform: rotateX(-30deg) rotateY(0deg);
  }
  100%
  {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}
.cube2 div{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}
/* 사각형 옆면 */
.cube2 div span{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(47,0,122,48),rgba(255,0,255,100));
  transform : rotateY(calc(90deg*var(--i)))translateZ(150px);
  display: flex; 
  /* 글씨 가로정렬 */
  justify-content: center;
  /* 가로 축을 기준으로 좌우에 대한 정렬을 관장 합니다. */
  align-items: center;
  /* 세로 축을 기준으로 정렬을 하게 됩니다 */
  transform-style: preserve-3d;
}
 
/* 사각형 옆면 글씨 */
.cube2 div span a{
position: absolute;
text-align: center;
font-size: 70px;
font-weight:bolder;
color: rgb(32, 11, 52);
transform: translateZ(50px);
}

.cube2 div span a:nth-child(1)
{
  transform: translateZ(0) translateY(20px);
  color: rgba(0, 0, 0, 0.1);
  filter: blur(1px);
}

/* 사각형 윗면 */
.top{
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background: rgba(47,15,122,100);
  transform: rotateX(90deg) translateZ(150px);
}

/* 사각형 아래 그림자 */
.top::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background: rgba(255,50,255,100);
  transform: translateZ(-400px);
  filter: blur(50px);
  box-shadow: 0 0 120px rgba(255,0,255,0.2),
  0 0 120px rgba(255,0,255,0.4),
  0 0 120px rgba(255,0,255,0.6),
  0 0 120px rgba(255,0,255,0.8);
}