@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@700&display=swap');

*{
  font-family: 'Gaegu', cursive;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(to top, black 0%, gray 50%, white 100%);
}

.img{
  width: 50vh;
  position: absolute;
  top: 20%;
  left: 38%;
}
/* 뱅글뱅글돌리기 */
.img {
  animation: rotate_image  2s linear infinite;
  transform-origin: 50% 50%;
}
@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}
/* 
.loading {
  margin: 0; 
  position: absolute;
  top: 80%;
  left: 40%;      
  height: 100vh;            /*웹 크기 변화에 따라 변경되는 반응형 수치*/
/* } */

.loading span {
  display: inline-block; /* span 내부요소들을 한줄로 세우기 */
  width: 10px;
  height: 10px;
  /* border-radius: 50%;    span을 동그랗게 */
  animation: loading 1s 0s linear infinite;
  /* 이벤트명  반복시간  딜레이시간  이벤트처리부드럽게  이벤트무한반복*/
  font-size: 5vh;
}

.loading span:nth-child(1) {  /*loading의 자식 중 첫번째 span*/
  /*nth-child : 형제 사이에서의 순서*/
  height: 5vh;
  width: 5vh;
  margin-right: 10vh;
  animation-delay: 0.2s;
}

.loading span:nth-child(2) {
  height: 5vh;
  width: 5vh;
  margin-right: 10vh;
  animation-delay: 0.4s;
}

.loading span:nth-child(3) {
  height: 5vh;
  width: 5vh;
  margin-right: 10vh;
  animation-delay: 0.6s;
}
@keyframes loading {        /*loading이라는 keyframe 애니메이션*/
  0%,                      /* 0, 50, 100은 구간*/
  100% {
    opacity: 0;            /* 안보였다가 */
    transform: scale(0.5); /*transform의 scale로 요소를 확대 또는 축소할 수 있음*/   
  }
  50% {
    opacity: 1;             /* 보였다가 */
    transform: scale(1.2); /* 1.2배 */
  }
} */

/* 점점커지기
.img2 {
  animation: rotate_image 6s linear infinite, scale1 6s linear infinite;
  transform-origin: 50% 50%;
}
@keyframes scale1 {
  0%   { transform: scale(0) }
  100%  { transform: scale(1) }
}

/* 점점 작아지기 */
/* .img3 {
  animation: rotate_image 6s linear infinite, scale2 6s linear infinite;
  transform-origin: 50% 50%;
}
@keyframes scale2 {
  0%   { transform:  rotate(0deg) scale(1) }
  100%  { transform:  rotate(360deg) scale(0) }
} */ 


