@font-face {
  font-family: 'DungGeunMo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  
}
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');


header{
  width: 30%;
  height: 40px;
  justify-content: center;
  display: flex;
  margin: auto;
  font-family: 'DungGeunMo';
}

.instalogo{
  height: 100%;
  width: 100%;
}

.page-name{
  justify-content: center;
  display: flex;
  margin: auto;
}


body{
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

.insta{
  justify-content: center;
  display: flex;
  margin: auto;
  margin-top: 30px;
}