@font-face {
  font-family: 'DungGeunMo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
  font-family: 'DungGeunMo';
}

.header{
  position: sticky;
  top: 0px;
  margin-top: 30px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.navbar-nav{
  text-align: center;
  margin-left: 5px;
  font-size: 30px;
}

.nav-link:hover{
  color: pink;
}

.card_Img {
  height : 300px;
}

.justify-centern{
justify-content: center;
}
/* 캐러셀 전체 크기 */
.carousel-inner{
  margin: auto;
  width: 60%;
  height: 800px;
}

/* 캐러셀 내부 박스들 크기 */
.carousel-item{
  width: 100%;
  height: 100%;
}

.carousel-item > img {
  width: 100%;
  height: 100%;
}

.carousel-control-next{
  right: 15%;
}

.carousel-control-prev{
  left: 15%;
}